<!DOCTYPE html>
<html lang="en">


<body>


<div class="jumbotron">
    <div class="container">
    <h1>The World's Largest Sheet Music Collection</h1>
    </div>
</div>
    <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Browse over 10,000 pieces of music.
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Free Signup</h4>
                    </div>
                    <div class="panel-body">
                        <p> Signing up is free for everyone. Explore our collection and share your own music at no cost.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Premium Access</h4>
                    </div>
                    <div class="panel-body">
                        <p> Rare and premium pieces come with a small monthly fee.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Lots of selection</h4>
                    </div>
                    <div class="panel-body">
                        <p>Come see our vast collection of music from renowned composers, comtemporary musicians, and community members.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div style="text-align:center;width:center">
        <div class="row" style="display:inline-block">
            <div class="col-lg-12">
                <h2 class="page-header">Browse Categories</h2>
            </div>
            <div class="col-md-2 col-sm-6 category" id="category1">
                <a href="#">
                    <span style="display:block">
                    Classical
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6 category" id="category2">
                <a  href="#">
                    <span>
                    Baroque
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6 category" id="category3">
                <a style="display:block" href="#">
                    Jazz
                </a>
            </div>
            <div class="col-md-2 col-sm-6 category" id="category4">
                <a style="display:block" href="#">
                    Contemporary
                </a>
            </div>
            <div class="col-md-2 col-sm-6 category" id="category5">
                <a style="display:block" href="#">
                    Film Scores
                </a>
            </div>
            <div class="col-md-2 col-sm-6 category" id="category6">
                <a style="display:block" href="#">
                    Seasonal
                </a>
            </div>
        </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Modern Business Features</h2>
            </div>
            <div class="col-md-6">
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                    <li><strong>Bootstrap v3.3.7</strong>
                    </li>
                    <li>jQuery v1.11.1</li>
                    <li>Font Awesome v4.2.0</li>
                    <li>Working PHP contact form with validation</li>
                    <li>Unstyled page elements for easy customization</li>
                    <li>17 HTML pages</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>From contemporary to classical works, we have it all!</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Sign Up Today!</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Sheet Music International 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>



</body>

</html>
