    <div class="col-md-2 left_col" style="height: 100%; background-color: #2A3F54; min-height: 2144px">
    		<div class="row">
	    		<div class="profile_pic" style="padding: 10px 0px 0px 5px">
	    			<img src="../app/img/pofolio_img.jpg" width="70px" height="70px" alt="..." class="img-circle">
	    		</div>
	    		<div class="profile_info" >
	    			<span style="color: #BAB8B8">Welcome,</span>
	    			<h6 style="color: white">Sang Le</h6>
	    		</div>
    		</div>

    		<div class="row ">
    			<nav class="navbar " style="background-color: #2A3F54 !important; ">
				  <div data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation" style="width:100%; padding: 8px; " >
				  <i class="fa fa-home pull-left"></i> 
				  <div class="pull-left">Home </div>
				  <i class="fa fa-chevron-down " ></i>
				  </div>


				  <div class="collapse" id="exCollapsingNavbar">
				    <div class="bg-inverse text-muted p-1">
				      <span class="text-muted">Home</span>
				    </div>
				  </div>
				</nav>

				
    		</div>
    		<div class="row ">
    			<nav class="navbar " style="background-color: #2A3F54 !important; ">
				  <div data-toggle="collapse" data-target="#exCollapsingNavbar1" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation" style="width:100%; padding: 8px; " >
				  <i class="fa fa-home pull-left"></i> 
				  <div class="pull-left">form </div>
				  <i class="fa fa-chevron-down " ></i>
				  </div>


				  <div class="collapse" id="exCollapsingNavbar1">
				    <div class="bg-inverse text-muted p-1">
				      <span class="text-muted">form</span>
				    </div>
				  </div>
				</nav>

				
    		</div>
    </div>


    <div class="right_col" style="background-color: #F7f7f7; min-height: 2144px ">
    <!--header nav-->
    	<div style="width: 100%; background-color: #EDEDED ">
    	<div style="padding: 20px 10px 20px 5px;">
    		<h3 style=" text-align: right;">DASHBOARD</h3></div>
    	</div>
    <!--end header nav-->
    <br />
	    <div class="col-md-10 form-inline" style=" color: white">
	    	<div class="x_panel ">
	    		<div class="x_title">
	    			<h5>Music List</h5>
	    		</div>
	    		<div class="x_content" style="display: block;">
	    			<table class="table" style="color: #73879C">
	    				<thead>
	    					<tr>
	    						<th>#</th>
	    						<th>Music title</th>
	    						<th>Artist</th>
	    						<th>Genres</th>
	    					</tr>
	    				</thead>
	    				<tbody>
	    					<tr>
	    						<th scope="1">1</th>
	    						<td>Greensleeves</td>
	    						<td>Loreena Mckennitt</td>
	    						<td>Folk, Pop</td>
	    					</tr>
	    					<tr>
	    						<th scope="1">2</th>
	    						<td>Canon</td>
	    						<td>Johann Pachelbel</td>
	    						<td>Classical</td>
	    					</tr>
	    					<tr>
	    						<th scope="1">3</th>
	    						<td>Moonlight Sonata</td>
	    						<td>Beethoven</td>
	    						<td>Classical</td>
	    					</tr>
	    				</tbody>
	    			</table>
	    		</div>
	    	</div>
	    	<div class="x_panel ">
	    		<div class="x_title">
	    			<h5>Music List</h5>
	    		</div>
	    		<div class="x_content" style="display: block;">
	    			<table class="table" style="color: #73879C">
	    				<thead>
	    					<tr>
	    						<th>#</th>
	    						<th>Music title</th>
	    						<th>Artist</th>
	    						<th>Genres</th>
	    					</tr>
	    				</thead>
	    				<tbody>
	    					<tr>
	    						<th scope="1">1</th>
	    						<td>Greensleeves</td>
	    						<td>Loreena Mckennitt</td>
	    						<td>Folk, Pop</td>
	    					</tr>
	    					<tr>
	    						<th scope="1">2</th>
	    						<td>Canon</td>
	    						<td>Johann Pachelbel</td>
	    						<td>Classical</td>
	    					</tr>
	    					<tr>
	    						<th scope="1">3</th>
	    						<td>Moonlight Sonata</td>
	    						<td>Beethoven</td>
	    						<td>Classical</td>
	    					</tr>
	    				</tbody>
	    			</table>
	    		</div>
	    	</div>
	    </div>

	  
    </div>

    

