
<nav class="navbar navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" ></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive" style="padding: 30px">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#"><a href="#" (click)="auth.login()" *ngIf="!auth.authenticated()"> Login</a></a>
      </li>

        <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>

<!--

      <div class="pull-right" style="padding-right: 5px">
       <li class="nav-item"><a href="#" (click)="auth.login()" *ngIf="!auth.authenticated()"><span class="fa fa-user"></span> Sign Up</a></li>
        <li class="nav-item"><a href="#" (click)="auth.login()" *ngIf="!auth.authenticated()"><i class="fa fa-edit"></i>  Login</a></li>
              <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
              </div> 
              -->
    </ul>

    <!--
    <form class="form-inline float-lg-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>
<main >
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="footer-container">
    <p class="text-center">Sheet Music International Archive</p>
  </div>
</footer>